@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --grad-color1: #4568dc;
    --grad-color2: #b06ab3;
    --font-family: 'Poppins', sans-serif;
    --border-color: #bfbfbf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

/* Page background */
.container {
    min-height: 100vh;
    background-image: linear-gradient(to top right, var(--grad-color1), var(--grad-color2));
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main box styling */
.todo-box {
    border-radius: 8px;
    width: 30rem;
    height: 27rem;
    background: white;
    position: relative;
    text-align: center;
    overflow: scroll;
}

/* Task-bar styling */

.todo-box img {
    height: 25px;
    width: 35px;
    position: absolute;
    top: 2.3rem;
    left: 3.8rem;
}

/* Task button */
#task-text {
    padding: 12px 0px 12px 50px;
    margin: 22px 0px 15px 4px;
    max-width: 34rem;
    width: 80%;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    font-size: 1.1rem;
}

/* Controls */
.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid var(--border-color);
}
.controls ul{
    margin-top: -16px;
    list-style-type: none;
}
.controls ul li {
    display: inline;
    margin: 18px 35px 2px 8px;
    font-size: 1.05rem;
}

/* All tasks */
.all-tasks {
    text-align: left;
    list-style-type: none;
    margin: 12px 20px 0px 16px;
}
.all-tasks label,
.all-tasks input {
    cursor: pointer;
}
.all-tasks label {
    display: flex;
    margin: 8px 0px 8px 0px;
    font-size: 17px;
}
.all-tasks .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 8px;
}
.all-tasks .task:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.all-tasks .task label input {
    margin-top: 2px;
    margin-right: 12px;
}
.settings {
    position: relative;
}

/* Task menu */
.task-menu {
    position: absolute;
    bottom: -72px;
    right: 0px;
    z-index: 2;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.2s ease;
    padding: 5px 0;
    width: 90px;
    list-style-type: none;
    background: #fff;
    box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.task-menu li {
    padding: 8px 7px;
    cursor: pointer;
}
.task-menu li:last-child {
    margin-bottom: 0;
}
.task-menu li:hover {
    background: #f5f5f5;
}
.task-menu i span{
    color: rgb(101, 59, 191);
}
.settings .task-menu.show {
    transform: scale(1);
}

/* Strikethrough */
.task label p.checked {
    text-decoration: line-through;
}

/* Button */
.controls button {
    margin-bottom: 18px;
    font-size: 14px;
}
.controls button:hover {
    background-image: linear-gradient(to bottom left, var(--grad-color1), var(--grad-color2))
}

/* Utility classes */
.btn {
    padding: 8px;
    border: none;
    border-radius: 6px;
    outline: none;
    background-image: linear-gradient(to top right, var(--grad-color1), var(--grad-color2));
    color: white;
    cursor: pointer;
}

.active {
    color: var(--grad-color1);
}
.filters li {
    cursor: pointer;
}